<html>
<head>
	<title>Portal</title>
	<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
	<header><h1>Portal</h1></header>
	<diV>
		<h2>Doors</h2>
		<form action="/api/v1/doors/ONE/toggle" method="get">
			<input value="Get status on Door ONE" type="submit"  class="button nyi"/>
		</form>
		<form action="/api/v1/doors/ONE/toggle" method="post">
			<input value="Toggle Door ONE" type="submit"  class="button setter" />
		</form>
		<form action="/api/v1/doors/TWO/toggle" method="get">
			<input value="Get status on Door TWO" type="submit"  class="button nyi" />
		</form>

		<form action="/api/v1/doors/TWO/toggle" method="post">
			<input value="Toggle Door TWO" type="submit"  class="button setter" />
		</form>
	</div>

	<div>
		<h2>Lights</h2>
		<form action="/api/v1/lights" method="post">
			<input value="Toggle Lights" type="submit"  class="button nyi" />
		</form>
	</div>

	<div>
		<h2>Temperature</h2>
		<form action="/api/v1/temperature" method="get">
			<input value="Get Temperature" type="submit"  class="button nyi" />
		</form>
	</div>

	<div>
		<h2>Brewer</h2>
		<form action="/api/v1/brewer" method="post">
			<input value="Activate Coffee Pot" type="submit"  class="button nyi" />
		</form>
	</div>

	

</body>
</html>